extend page
block content

	div(class="block")
		link(rel='stylesheet', href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')
		link(rel='stylesheet', href='https://cdn.rawgit.com/weareoutman/clockpicker/gh-pages/dist/jquery-clockpicker.min.css')
		script(src='https://code.jquery.com/jquery-1.12.4.js')
		script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
		script(src='https://cdn.rawgit.com/weareoutman/clockpicker/gh-pages/dist/jquery-clockpicker.min.js')

		
		script.
			$( function() {
				$("#startDate").datepicker({
					dateFormat: 'dd-mm-yy',
					minDate: new Date('2015/08/01'),
					changeMonth: true,
					changeYear: true,
					maxDate: 0,
					onClose: function(selectedDate) {
				        $("#endDate").datepicker("option", "minDate", selectedDate);
				    }
				});
			} );
			
			$( function() {
				$("#startDate2").datepicker({
					dateFormat: 'dd-mm-yy',
					minDate: new Date('2015/08/01'),
					changeMonth: true,
					changeYear: true,
					maxDate: 0,
					onClose: function(selectedDate) {
				        $("#endDate2").datepicker("option", "minDate", selectedDate);
				    }
				});
			} );
			
			$( function() {
				$("#endDate").datepicker({
					dateFormat: 'dd-mm-yy',
					minDate: new Date('2015/08/01'),
					changeMonth: true,
					changeYear: true,
					maxDate: 0,
				});
			} );
			
			$( function() {
				$("#endDate2").datepicker({
					dateFormat: 'dd-mm-yy',
					minDate: new Date('2015/08/01'),
					changeMonth: true,
					changeYear: true,
					maxDate: 0,
				});
			} );
			
			
			$( function() {
			$( "#tabs" ).tabs();
			} );
			
		style.
			td:nth-child(even) {
			background-color: #f9f9f9;
			}
			td{
				width:14.2%;
			}
			th:nth-child(even) {
			background-color: #f9f9f9;
			}
			table, th, td {
			border: 1px solid black;
			text-align: center;
			padding: 4px;
			}
			table th p
			{
				margin-bottom:0;
			}
		
		#tabs
			ul
				li
					a(href='#tabs-1') Aggregate
				li
					a(href='#tabs-2') Granular
			#tabs-1
				form(action='/filter_graph', method='GET')
					| Start Date: 
					if (startDate === null)
						input#startDate(type='text', name='startDate') 
					else
						input#startDate(type='text', name='startDate', value=startDate)
					|	End Date:
					if (endDate === null)
						input#endDate(type='text', name='endDate')
					else
						input#endDate(type='text', name='endDate', value=endDate)
					
					p Group Size: 
						input(type='radio', name='groupBy', value='Daily', checked)
						|  Daily  
						input(type='radio', name='groupBy', value='Weekly')
						|  Weekly  
						input(type='radio', name='groupBy', value='Monthly')
						|  Monthly 
						input(type='radio', name='groupBy', value='Yearly')
						|  Yearly 
					
					button(type="button", onclick='toggleAdvanced("advancedDiv")') Show advanced options
					#advancedDiv(style="display:none;")
						| Chart Type   
						select(name="chartType")
							option(value="bar") Bar
							option(value="line") Line
						br
						#divCheckAll
							input#checkall(type='checkbox', name='checkall', onclick='check_uncheck_checkbox(this.checked);')
							| Toggle All Venues
						#divCheckboxList
							br
							- for (var i = 0, j = 0; i < outletNames.length; i++,j++)
								- if (j % 3 === 0 && j !== 0)
								input(type='checkbox', name='venues', value=outletNames[i])
								|  #{outletNames[i]}  
								br
						
					p()
					input(type="hidden", name="formType", value="aggregate")
					input(type="submit", value="Filter Data", class="button-primary")
			#tabs-2
			
				form(action='/filter_graph', method='GET')
					| Start Date: 
					if (startDate === null)
						input#startDate2(type='text', name='startDate') 
					else
						input#startDate2(type='text', name='startDate', value=startDate)
					|  End Date:
					if (endDate === null)
						input#endDate2(type='text', name='endDate')
					else
						input#endDate2(type='text', name='endDate', value=endDate)
						
					p Days:
					p()
					table(style="table-layout: fixed;")
						tr
							th
								p Monday
							th
								p Tuesday
							th
								p Wednesday
							th
								p Thursday
							th
								p Friday
							th
								p Saturday
							th
								p Sunday
						tr(align="center")
							td(style="text-align: center")
								input(type="checkbox", name="days", value="1")
							td(style="text-align: center")
								input(type="checkbox", name="days", value="2")
							td(style="text-align: center")
								input(type="checkbox", name="days", value="3")
							td(style="text-align: center")
								input(type="checkbox", name="days", value="4")
							td(style="text-align: center")
								input(type="checkbox", name="days", value="5")
							td(style="text-align: center")
								input(type="checkbox", name="days", value="6")
							td(style="text-align: center")
								input(type="checkbox", name="days", value="0")
					
					| Start Time: 
					input#startTime(name='startTime', type='text', value='00:00')
					| End Time:
					input#endTime(name='endTime', type='text', value='00:00')
					
					script.
						$('#startTime').clockpicker({
							autoclose: true,
							default: "00:00"
						});
						$('#endTime').clockpicker({
							autoclose: true,
							default: "00:00"
						});
						
					p()
					
					button(type="button", onclick='toggleAdvanced("advancedDiv2")') Show advanced options
					#advancedDiv2(style="display:none;")
						| Chart Type   
						select(name="chartType")
							option(value="bar") Bar
							option(value="line") Line
						br
						#divCheckAll
							input#checkall(type='checkbox', name='checkall', onclick='check_uncheck_checkbox(this.checked);')
							| Toggle All Venues
						#divCheckboxList
							br
							- for (var i = 0, j = 0; i < outletNames.length; i++,j++)
								- if (j % 3 === 0 && j !== 0)
								input(type='checkbox', name='venues', value=outletNames[i])
								|  #{outletNames[i]}  
								br
						
					p()
					input(type="hidden", name="formType", value="granular")
					input(type="submit", value="Filter Data", class="button-primary")
					
			script.
				function toggleAdvanced(divName) {
					var x = document.getElementById(divName);
					if (x.style.display === 'none') {
						x.style.display = 'block';
					} else {
						x.style.display = 'none';
					}
				}
				
			script.
				function check_uncheck_checkbox(isChecked) {
					if(isChecked) {
						$('input[name="venues"]').each(function() {
							this.checked = true;
						});
					} else {
						$('input[name="venues"]').each(function() {
							this.checked = false;
						});
					}
				}
				
				