extend page 
block content
    div(class="block")
        h1 Upload History
        if (uploads.length > 0)
            div(class="flex justify-content-space-between")
                div(class="four columns")
                    p  
                        strong Date Uploaded
                div(class="six columns")
                    p
                        strong Data Start Date - End Date
                div(class="two columns")
                    p
                        strong Delete?
            
            form(action="/upload_history" method="post")
                - uploads = uploads.sort((a, b) => { return (a.date < b.date); });
                - for (var i = 0; i < uploads.length; i++)
                    - var upload = uploads[i]
                    //-
                        - var date = upload.date.getDate() + '/' + (upload.date.getMonth() + 1) + '/' + upload.date.getFullYear()
                        - var startDate = upload.startDate.getDate() + '/' + (upload.startDate.getMonth() + 1) + '/' + upload.startDate.getFullYear()
                        - var endDate = upload.endDate.getDate() + '/' + (upload.endDate.getMonth() + 1) + '/' + upload.endDate.getFullYear()
                    
                    div(class="flex justify-content-space-between")
                        div(class="four columns")
                            <span style="display:inline-block">
                                label(for=upload._id style='font-weight: 400')
                                    | #{upload.date.toDateString()}
                        div(class="six columns")
                            <span style="display:inline-block">
                                label(for=upload._id style='font-weight: 400')
                                    | #{upload.startDate.toDateString() + ' - ' + upload.endDate.toDateString()}
                        div(class="two columns")
                            input(type='checkbox', name='uploads', data-inline='true', value=upload._id, id=upload._id)
                    br
                input(type='submit', value='Delete selected uploads')
            
        else
            p No upload history to display